*.coverage
*.exe
*.nupkg
*.psess
*.suo
*.swp
*.user
*.userprefs
*.vsp

Backup/
bin/
dist/
doc/
obj/
packages/
_Resharper.*/
_Resharper*/
*.ide/
.idea/
.store/
.vs/

*.nuget.props
*.nuget.targets
*.project.lock.json
project.lock.json
